$azul: #1F77DE;
$amarillo: #eec81e;
$negro-mate: #313131;
$verde-oscuro: #4F6D1B;
$celeste-oscuro: #2399DB;
$blanco-suave: #f1f1f1;
$verde-agua: #128C7E;
$negro-suave: #353535;
$blanco-super-suave: #CFCCE0;
$fondo-body: #FAFAFA;
$negro-sombra:#3535352c;